
.table-striped{
  border-collapse: collapse;
  border: 1px solid darkgrey;
  text-align: center;
} 


label.col-form-label{
  border-collapse: collapse;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 100%;
}
#input{
  margin-left: 5%;
  margin-right: 5px;
}
#formData{
  margin-right: 15%;
}
#lista{
  margin-right: 20%;
  margin-left: 2%;
}

#toolbar{
  text-align:end;
}

#containerInforme{
  height: 300px;
  border-collapse: collapse;
  border: 1px solid darkgrey;
  overflow-y:auto;
}