#cabecera{
    background :#225fba;
    color: white;
    border-width: 5px;
    border-color: black;
    padding-left: 30px;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    padding-top: 25px;
    color: #fff;
  }

.navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
}
#navmenu{
    border: 15px;
    border-color: black;
}

#title-navbar {
    font-size: 30px;
    font-family: 'Segoe UI';
    z-index: 1;
    margin-bottom: 10px;
    color: #fff;
  }