/* .title {
    padding-top: 10px;
    height: 40px;
    width: 250px;
}
.title h1{
    text-indent: -9999px;
}

 

.bi{
    position: relative;
    left: 1240px;
    top: -51px;
    font-size: 35px;
}
button{
    outline: none;
    border: 0px;
    background-color: white;
    height: 30px;
    margin-right: 2000px;

}
button:hover {
    color: rgb(168, 168, 168);
}


.files{
    margin: 0 auto;
    width: 800px;
    margin-top: 60px;
    
}
.table-files{
    height: 40px;
    border: 1px solid  rgb(168, 168, 168);
    text-align: center;
    margin: auto;
    width: 500px;

}
.table-files tr{
    background-color:#dfdddd;
}


hr{
    height: 1px;
    border: 2px solid #a9a9a9;
    color: #666;
} */
.bi{
    position: relative;
    left: 450px;
    top: -18px;
    font-size: 35px;
}


.title {
    padding-top: 8px;
    height: 5px;
    width: 250px;
}


.modal-body{

    width: 100%;
    min-width: 460px;
    max-width: 900px;
    
}

.fileDocs{
    min-width: 460px;
    max-width: 900px;
}