
  #inputs{
    margin-left: 10%;
  }

  #button{
    margin-top: 5%;
    text-align: right;
  }
  #btnCE{
    text-align: right;
    align-content: flex-end;
  }
  
  #registro{
    margin-left: 5%;
  }

  #formRegistro{
    margin-right: 20%;
  }

  #list{
    margin-left: 5%;
  }


