
  #inputs{
    margin-left: 10%;
  }

  #button{
    margin-top: 4%;
    text-align: right
  }

  #toolbar{
    text-align: right;
  }

  #btnV{
    margin-left: 15px;
  }
  
  #registro{
    margin-left: 5%;
  }

  #formRegistro{
    margin-right: 20%;
  }

  #list{
    margin-left: 5%;
  }


